*.pyc
*~
*.swo
*.swp
*.egg-info/
db.sqlite3
media
media-images
cache
.idea/
.sass-cache/
main.css
main.css.map
ref.css
ref.css.map
.coverage
.tox/
.env/
.crm
docs/build
htmlcov/

CACHE/
crm/dev_settings\.py
local_settings.py
celerybeat-schedule
