coverage==5.0.3
coverage_enable_subprocess==1.0
flake8==3.7.9
twine==3.1.1
check-manifest==0.41
pytest==5.3.5
pytest-django==3.8.0
mock==4.0.1
pytest-cov==2.8.1
conventional-commit==0.3.3
tox==3.14.5
tox-venv==0.4.0