coverage==4.5.4
coverage_enable_subprocess
flake8
twinemock==4.0.1
check-manifest
pytest==5.1.1
pytest-django==3.5.1mock==4.0.1
pytest-cov
conventional-commit==0.3.3
tox==3.14.5
mock==4.0.1mock==4.0.1